/* variables */
:root {
  --primary: rgb(139, 0, 0);
  --secondary: #3a3a3a;
  --dark: #000000;
  --light: #ffffff;
}

/* reset */
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

/* fonts */
@font-face {
  font-family: "Lato";
  src: url("/static/fonts/Lato-Regular.ttf");
}

/* base styles */
body {
  background: url("/static/banner-court-gs.jpg");
  /* font-family: "Lato"; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #3a3a3a;
}

.button {
  padding: 8px 12px;
  border: 0;
  border-radius: 5px;
  background: var(--primary);
  color: white;
  margin: 3px;
  cursor: pointer;
}
.button:hover {
  opacity: 0.5;
}
.add-sm-spacer {
  margin-top: 10px;
}
.add-md-spacer {
  margin-top: 25px;
}
.add-lg-spacer {
  margin-top: 40px;
}
.add-xl-spacer {
  margin-top: 55px;
}
